.header{
    width: 1280px;
    height:80px;
    margin:0 auto;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    @media(max-width:600px){
        width:100%;
        height:60px;
        display: flex;
        flex-direction: column;
        justify-content:start;
    }

    &__title{
        font-size: 45px;
        font-weight:bold;
        margin-left:10px;

        @media(max-width:600px){
            font-size:20px;
            margin-bottom:5px;
        }
    }

    &__navigation{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i,span,a{
            font-size:25px;
            margin-right:10px;
            margin-left:10px;
            text-decoration:none;
        }

        @media(max-width:600px){
            justify-content: space-between;
            margin-left:10px;
            margin-right:10px;
            i,span, a{
                font-size: 15px;
                margin-right:3px;
                margin-left:3px;
            }
        }
    }
}