.header{
    height:80px;
    background-color:black;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color:whitesmoke;

    @media(max-width:600px){
        height:60px;
        display: flex;
        flex-direction: column;
        justify-content:start;
    }


    &__title{
        font-size: 45px;
        font-weight:bold;
        margin-left:10px;

        @media(max-width:600px){
            font-size:20px;
            margin-bottom:5px;
        }
    }

    &__navigation{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i,span{
            font-size:25px;
            margin-right:10px;
            margin-left:10px;
            a{
                text-decoration:none; 
                color:whitesmoke;
            }
        }

        @media(max-width:600px){
            justify-content: space-between;
            margin-left:10px;
            margin-right:10px;
            i,span{
                font-size: 15px;
                margin-right:3px;
                margin-left:3px;
            }
        }
    }


}