.profileMain {
  width: 1280px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .profileMain {
    width: 97%;
    margin: 0 auto;
  }
}

.profileMain__introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .profileMain__introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profileMain__introduction img {
  width: 30%;
  border-radius: 15%;
}

@media (max-width: 600px) {
  .profileMain__introduction img {
    width: 70%;
  }
}

.profileMain__introduction__textContainer {
  margin-left: 5%;
  margin-right: 5%;
}

.profileMain__introduction__textContainer h2 {
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 600px) {
  .profileMain__introduction__textContainer h2 {
    font-size: 15px;
  }
}

.profileMain .basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .profileMain .basic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profileMain .basic__textContainer {
  width: 50%;
}

@media (max-width: 600px) {
  .profileMain .basic__textContainer {
    width: 100%;
  }
}

.profileMain .basic iframe {
  width: 40%;
}

@media (max-width: 600px) {
  .profileMain .basic iframe {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .profileMain .education {
    font-size: 12px;
  }
}

.profileMain .education__lowerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .profileMain .education__lowerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profileMain .education__lowerContainer__text {
  width: 60%;
  text-align: justify;
}

@media (max-width: 600px) {
  .profileMain .education__lowerContainer__text {
    width: 90%;
    font-size: 15px;
  }
}

.profileMain .education__lowerContainer__image {
  width: 30%;
  padding-bottom: 20%;
  position: relative;
}

@media (max-width: 600px) {
  .profileMain .education__lowerContainer__image {
    width: 100%;
    padding-bottom: 66.66667%;
  }
}

.profileMain .career {
  font-size: 12px;
}

.profileMain .career h {
  font-size: 20px;
}

.profileMain .career__table tbody {
  border-bottom: solid 0.5px gray;
  border-top: solid 0.5px gray;
}

.profileMain .career__table .position {
  width: 20%;
  vertical-align: top;
}

.profileMain .career__table .company {
  width: 20%;
  vertical-align: top;
}

.profileMain .career__table .description {
  width: 30%;
  vertical-align: top;
}

.profileMain .career__table .description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileMain .career__table .city {
  width: 15%;
  vertical-align: top;
}

.profileMain .career__table .duration {
  width: 15%;
  vertical-align: top;
}

@media (max-width: 600px) {
  .profileMain .career__table h {
    font-size: 20px;
  }
  .profileMain .career__table b {
    font-size: 13px;
  }
  .profileMain .career__table .position, .profileMain .career__table .company, .profileMain .career__table .duration, .profileMain .career__table .city, .profileMain .career__table .description {
    width: 100%;
    margin-bottom: 10px;
  }
}

.profileMain .motivation {
  text-align: justify;
}

.profileMain .motivation__imageContainer {
  margin-top: 30px;
}

.profileMain .motivation img {
  width: 10%;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .profileMain .motivation img {
    width: 20%;
  }
}
/*# sourceMappingURL=profileMain.module.css.map */